body {
	background-image:  url("../images/world.jpg");
}

#gifs-appear-here {
	display: inline;
}
.person {
	margin-right: 5px;
	margin-left: 5px;
}
h1 {
	font-size: 100px;
	color: teal;
}
.jumbotron {
	background-color: yellow;
	padding: 20px;
}
p {
	background-color: white;
	width: 20%;
}
label {
	color: green;
}
